<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429490330211-cgdqejcp00fgtnhhb5m4t74lr94g3cgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429490330211-cgdqejcp00fgtnhhb5m4t74lr94g3cgm</string>
	<key>API_KEY</key>
	<string>YOUR API KEY GOOGLE</string>
	<key>GCM_SENDER_ID</key>
	<string>429490330211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inmind.AECan.operario.dev</string>
	<key>PROJECT_ID</key>
	<string>aecan-6be9c</string>
	<key>STORAGE_BUCKET</key>
	<string>aecan-6be9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429490330211:ios:16ce66f4c7f3726d617656</string>
	<key>DATABASE_URL</key>
	<string>https://aecan-6be9c.firebaseio.com</string>
</dict>
</plist>
